:root {
   --primary-light: #FAF4EA;
   --primary-dark: #31261A;
   --primary-green: #819B57;
   --secondary-light: #CFCFBC;
   --secondary-dark: #A18268;
   --secondary-green: #465929;
}

*,
::after,
::before {
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: 'Poppins', sans-serif;
}

body {
   font-size: 18px;
   font-weight: 400;
   line-height: 1.5;
   margin: 0;
}

a {
   text-decoration: none;
   cursor: pointer;
   display: inline-block;
}

ul {
   margin: 0;
   padding: 0;
}

li {
   list-style: none;
}

h2 {
   margin: 0;
   font-size: 64px;
   line-height: 1.3;
   color: var(--primary-dark);
}

h3 {
   margin: 0;
   font-size: 40px;
   font-weight: 600;
   color: var(--primary-dark);
}

p {
   margin: 0;
}

section {
   background-color: var(--primary-light);
   padding-top: 48px;
   padding-bottom: 48px;
}

button {
   cursor: pointer;
}

.container {
   max-width: 1304px;
   margin: 0 auto;
   padding: 0 32px;
   width: 100%;
}

.header {

   padding: 32px 0;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;


   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
   }

   &__nav {}

   &__logo {}

   &__list {
      margin: 0;
      padding: 0;
      display: flex;
      gap: 64px;
   }

   &__link {
      color: var(--primary-light);

      &:hover {
         color: var(--primary-green);
      }
   }

   &__item {
      width: max-content;
   }

   &__button {
      padding: 16px 32px;
      border-radius: 8px;
      border: 2px solid var(--primary-green);
      background: var(--primary-green);
      color: var(--primary-light);
      font-size: 18px;
      font-weight: 600;

      &:hover {
         background-color: #FFF;
         color: var(--secondary-green);
      }
   }
}

.nav {}

.main {}

.section-hero {
   background: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url("../images/section-background.jpg");
   padding: 124px 0;
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
/*      height: 100vh;  */

   &__title {
      font-size: 128px;
      font-weight: 900;
      color: var(--primary-light);
      text-align: center;
      padding: 0 32px;
   }

   &__span {
      color: var(--primary-green);
   }
}

.advantages-section {
   padding: 0;
   background-color: var(--primary-green);

   &__container {}

   &__list {
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      color: var(--primary-light);
      padding: 16px 0;
      gap: 40px;
   }

   &__item {}
}

.traditions-section {
   padding-top: 96px;

   &__container {
      display: flex;
      gap: 40px;
      justify-content: space-between;
   }

   &__content {
      max-width: 710px;
      display: flex;
      flex-direction: column;
      gap: 42px;
   }

   &__paragraph {

      &_width {
         max-width: 340px;
      }
   }

   &__span {
      color: var(--primary-green);
      font-weight: 600;

      &_uppercase {
         text-transform: uppercase;
      }
   }

   &__img {
      border-radius: 400px 400px 0 0;
      height: fit-content;
   }
}

.chefs-section {

   &__headline {
      text-align: center;
      position: relative;
      margin-bottom: 80px;

      &:before {
         content: "";
         display: block;
         position: absolute;
         border: 2px solid var(--secondary-light);
         width: 28.22%;
         bottom: 24px;
      }

      &::after {
         content: "";
         display: block;
         position: absolute;
         border: 2px solid var(--secondary-light);
         width: 28.22%;
         bottom: 24px;
         right: 0;
      }
   }

   &__span {
      color: var(--secondary-green);
   }

   &__list {
      display: flex;
      flex-direction: row;
      gap: 30px;
      flex-wrap: wrap;
   }

   &__item {
      flex-basis: calc((100% - 30px)/2);
   }
}

.chef-article {
   display: flex;
   gap: 30px;

   &__img {
      border-radius: 4px 4px 4px 200px;
      box-shadow: -16px 16px 0 0 var(--primary-light), -16px 16px 0 2px var(--secondary-dark);
      height: fit-content;
   }

   &__headline {
      margin-bottom: 16px;
   }

   &__info {
      display: flex;
      flex-direction: column;
      gap: 24px;
   }
}

.formats-section {

   &__slidebar {
      display: flex;
      gap: 32px;
      align-items: center;
   }

   &__list {
      display: flex;
      gap: 20px;
   }

   &__item {
      flex-basis: calc(100% /3);
      border-radius: 16px;
      overflow: hidden;
   }

   &__headline {
      text-align: center;
      margin-bottom: 80px;
   }

   &__button {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border: 1px solid var(--primary-dark);
      border-radius: 50%;
      background-color: transparent;
      fill: var(--primary-dark);
      flex-shrink: 0;

      &:hover {
         background-color: var(--primary-dark);
         fill: var(--primary-light);
      }
   }

   &__arrow {

      &_left {}

      &_right {
         transform: rotate(180deg);
      }
   }


}

.formats-article {
   padding: 24px;
   background-image: linear-gradient(180deg, rgba(49, 38, 26, 0.00) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--primary-dark) 100%);
   height: 444px;

   &__info {}

   &_walrus {}

   &_horseshoe {}

   &_hahdlebar {}

   &__headline {
      font-size: 24px;
      margin-bottom: 16px;
      /*       color: var(--primary-light); */

   }

   &__paragraph {
      padding: 0;
      margin: 0;
      font-size: 14px;
      font-weight: 300;
   }
}

.contacts-section {
   padding-bottom: 96px;

   &__container {
      display: flex;
      gap: 32px;
   }

   &__form {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 16px;
   }

   &__map {
      width: 50%;
      border-radius: 16px;
      overflow: hidden;
   }

   &__inframe {
      width: 100%;
      height: 100%;
   }

   &__headline {}

   &__paragraph {
      color: var(--secondary-green);
      font-size: 18px;
      padding: 0;
   }
}

.call-form {
   margin-top: 26px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 24px;


   &__input-block {
      width: 100%;
   }

   &__input {
      background-color: transparent;
      border-radius: 8px;
      border: 1px solid var(--secondary-dark);
      padding: 16px 42px 16px 42px;
      width: 100%;

      &::placeholder {
         color: var(--secondary-dark);
      }
   }


   &__button {
      width: max-content;
      padding: 16px 32px;
      border: 2px solid var(--primary-green);
      border-radius: 8px;
      background-color: var(--primary-green);
      color: var(--primary-light);
      font-size: 18px;
      font-weight: 600;

      &:hover {
         background-color: #FFF;
         color: var(--secondary-green);
      }
   }

   &__paragraph {
      text-align: center;
      font-size: 12px;
      color: var(--primary-dark);
      max-width: 240px;
      padding-bottom: 0;
   }

   &__link {
      color: var(--primary-dark);
      text-decoration: underline;
   }
}

.footer {

   padding: 32px 0;
   background-image: url('../images/footer-background.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-color: var(--primary-dark);
   background-position: center;

   &__container {
      display: flex;
      gap: 20px;
      justify-content: space-between;
   }

   &__link {
      color: var(--primary-light);

      &:hover {
         color: var(--primary-green);
      }
   }

   &__logo {}

   &__nav {}

   &__nav-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
   }

   &__item {}

   &__address {
      display: flex;
      flex-direction: column;
      gap: 16px;
   }

   &__adress-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-style: normal;
   }

   &__networks {
      display: flex;
      gap: 22px;
   }

   &__icon {
      fill: var(--primary-light);
   }

   &__paragraph {
      color: var(--secondary-dark);
   }

   &__security-info {
      display: flex;
      flex-direction: column;
      gap: 16px;
   }
}