:root {
  --primary-light: #FAF4EA;
  --primary-dark: #31261A;
  --primary-green: #819B57;
  --secondary-light: #CFCFBC;
  --secondary-dark: #A18268;
  --secondary-green: #465929;
}

*,
::after,
::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h2 {
  margin: 0;
  font-size: 64px;
  line-height: 1.3;
  color: var(--primary-dark);
}

h3 {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
  color: var(--primary-dark);
}

p {
  margin: 0;
}

section {
  background-color: var(--primary-light);
  padding-top: 48px;
  padding-bottom: 48px;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1304px;
  margin: 0 auto;
  padding: 0 32px;
  width: 100%;
}

.header {
  padding: 32px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.header__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 64px;
}
.header__link {
  color: var(--primary-light);
}
.header__link:hover {
  color: var(--primary-green);
}
.header__item {
  width: max-content;
}
.header__button {
  padding: 16px 32px;
  border-radius: 8px;
  border: 2px solid var(--primary-green);
  background: var(--primary-green);
  color: var(--primary-light);
  font-size: 18px;
  font-weight: 600;
}
.header__button:hover {
  background-color: #FFF;
  color: var(--secondary-green);
}

.section-hero {
  background: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url("../images/section-background.jpg");
  padding: 124px 0;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  /*      height: 100vh;  */
}
.section-hero__title {
  font-size: 128px;
  font-weight: 900;
  color: var(--primary-light);
  text-align: center;
  padding: 0 32px;
}
.section-hero__span {
  color: var(--primary-green);
}

.advantages-section {
  padding: 0;
  background-color: var(--primary-green);
}
.advantages-section__list {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--primary-light);
  padding: 16px 0;
  gap: 40px;
}
.traditions-section {
  padding-top: 96px;
}
.traditions-section__container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.traditions-section__content {
  max-width: 710px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.traditions-section__paragraph_width {
  max-width: 340px;
}
.traditions-section__span {
  color: var(--primary-green);
  font-weight: 600;
}
.traditions-section__span_uppercase {
  text-transform: uppercase;
}
.traditions-section__img {
  border-radius: 400px 400px 0 0;
  height: fit-content;
}

.chefs-section__headline {
  text-align: center;
  position: relative;
  margin-bottom: 80px;
}
.chefs-section__headline:before {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid var(--secondary-light);
  width: 28.22%;
  bottom: 24px;
}
.chefs-section__headline::after {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid var(--secondary-light);
  width: 28.22%;
  bottom: 24px;
  right: 0;
}
.chefs-section__span {
  color: var(--secondary-green);
}
.chefs-section__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}
.chefs-section__item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-article {
  display: flex;
  gap: 30px;
}
.chef-article__img {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--primary-light), -16px 16px 0 2px var(--secondary-dark);
  height: fit-content;
}
.chef-article__headline {
  margin-bottom: 16px;
}
.chef-article__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formats-section__slidebar {
  display: flex;
  gap: 32px;
  align-items: center;
}
.formats-section__list {
  display: flex;
  gap: 20px;
}
.formats-section__item {
  flex-basis: 33.3333333333%;
  border-radius: 16px;
  overflow: hidden;
}
.formats-section__headline {
  text-align: center;
  margin-bottom: 80px;
}
.formats-section__button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: 1px solid var(--primary-dark);
  border-radius: 50%;
  background-color: transparent;
  fill: var(--primary-dark);
  flex-shrink: 0;
}
.formats-section__button:hover {
  background-color: var(--primary-dark);
  fill: var(--primary-light);
}
.formats-section__arrow_right {
  transform: rotate(180deg);
}

.formats-article {
  padding: 24px;
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--primary-dark) 100%);
  height: 444px;
}
.formats-article__headline {
  font-size: 24px;
  margin-bottom: 16px;
  /*       color: var(--primary-light); */
}
.formats-article__paragraph {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}

.contacts-section {
  padding-bottom: 96px;
}
.contacts-section__container {
  display: flex;
  gap: 32px;
}
.contacts-section__form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contacts-section__map {
  width: 50%;
  border-radius: 16px;
  overflow: hidden;
}
.contacts-section__inframe {
  width: 100%;
  height: 100%;
}
.contacts-section__paragraph {
  color: var(--secondary-green);
  font-size: 18px;
  padding: 0;
}

.call-form {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.call-form__input-block {
  width: 100%;
}
.call-form__input {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid var(--secondary-dark);
  padding: 16px 42px 16px 42px;
  width: 100%;
}
.call-form__input::placeholder {
  color: var(--secondary-dark);
}
.call-form__button {
  width: max-content;
  padding: 16px 32px;
  border: 2px solid var(--primary-green);
  border-radius: 8px;
  background-color: var(--primary-green);
  color: var(--primary-light);
  font-size: 18px;
  font-weight: 600;
}
.call-form__button:hover {
  background-color: #FFF;
  color: var(--secondary-green);
}
.call-form__paragraph {
  text-align: center;
  font-size: 12px;
  color: var(--primary-dark);
  max-width: 240px;
  padding-bottom: 0;
}
.call-form__link {
  color: var(--primary-dark);
  text-decoration: underline;
}

.footer {
  padding: 32px 0;
  background-image: url("../images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--primary-dark);
  background-position: center;
}
.footer__container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.footer__link {
  color: var(--primary-light);
}
.footer__link:hover {
  color: var(--primary-green);
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__address {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__adress-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-style: normal;
}
.footer__networks {
  display: flex;
  gap: 22px;
}
.footer__icon {
  fill: var(--primary-light);
}
.footer__paragraph {
  color: var(--secondary-dark);
}
.footer__security-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}