* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h2 {
  margin: 0;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 84px;
  color: #31261A;
}

h3 {
  margin: 0;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #31261A;
}

p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding-top: 0;
  padding-bottom: 42px;
}

section {
  background-color: #FAF4EA;
}

.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.35% 7.23%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 64px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__link {
  color: #FAF4EA;
}
.header__link:hover {
  color: #819B57;
  font-weight: 600;
}
.header__item {
  width: max-content;
}
.header__button {
  padding: 16px 32px;
  border-radius: 8px;
  border: 2px solid #819B57;
  background: #819B57;
  color: #FAF4EA;
  font-size: 18px;
  font-weight: 600;
}
.header__button:hover {
  background-color: #FFF;
  color: #465929;
}

.section-hero {
  background: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url("../images/section-background.jpg");
  padding: 124px 0;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.section-hero__title {
  font-size: 128px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  color: #FAF4EA;
  text-align: center;
}
.section-hero__span {
  color: #819B57;
}

.traditions-section__advantages-list {
  background-color: #819B57;
  display: flex;
  justify-content: space-between;
  color: #FAF4EA;
  padding: 16px 6.6%;
}
.traditions-section__container {
  padding: 6.9% 7.18%;
  display: flex;
  gap: 70px;
}
.traditions-section__span {
  color: #819B57;
  font-weight: 600;
}
.traditions-section__span_uppercase {
  text-transform: uppercase;
}
.traditions-section__img {
  border-radius: 400px 400px 0 0;
}

.chefs-section {
  padding: 0 7.18% 7.18%;
}
.chefs-section__headline {
  text-align: center;
  position: relative;
  margin-bottom: 80px;
}
.chefs-section__headline:before {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid #CFCFBC;
  width: 28.22%;
  bottom: 24px;
}
.chefs-section__headline::after {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid #CFCFBC;
  width: 28.22%;
  bottom: 24px;
  right: 0;
}
.chefs-section__span {
  color: #465929;
}
.chefs-section__list {
  display: flex;
}
.chefs-section__item {
  width: 50%;
}

.chef-article {
  display: flex;
  gap: 30px;
}
.chef-article__img {
  border-radius: 4px 4px 4px 200px;
}
.formats-section {
  padding: 0 6.94% 96px 6.94%;
}
.formats-section__headline {
  text-align: center;
  margin-bottom: 80px;
}
.formats-section__button {
  border: none;
  background-color: transparent;
}
.formats-section__arrow-right {
  transform: rotate(180deg);
}
.formats-section__slidebar {
  display: flex;
  justify-content: space-between;
}
.formats-section__slidebar-content {
  width: 100%;
  display: flex;
  gap: 20px;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.formats-article {
  width: 33.33%;
  border-radius: 16px;
  color: #FAF4EA;
  min-height: 444px;
  min-width: 321px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.formats-article__info {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.formats-article_walrus {
  background: url("../images/walrus-background.jpg") no-repeat;
  background-size: cover;
}
.formats-article_horseshoe {
  background: url("../images/horseshoe-background.jpg") no-repeat;
  background-size: cover;
}
.formats-article_hahdlebar {
  background: url("../images/handlebar-background.jpg") no-repeat;
  background-size: cover;
}
.formats-article__headline {
  font-size: 24px;
  color: #FAF4EA;
  padding-bottom: 16px;
}
.formats-article__paragraph {
  padding: 0;
  font-size: 14px;
  font-weight: 300;
}

.contacts-section {
  display: flex;
  gap: 32px;
  padding: 0 6.94% 6.94%;
  box-sizing: border-box;
}
.contacts-section__form {
  width: 50%;
}
.contacts-section__map {
  width: 50%;
}
.contacts-section__inframe {
  width: 100%;
  height: 100%;
}
.contacts-section__paragraph {
  color: #465929;
  font-size: 18px;
  padding: 0;
}

.call-form {
  padding-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.call-form__input-block {
  width: 100%;
}
.call-form__input {
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #A18268;
  padding: 16px 42px 16px 42px;
  width: 100%;
}
.call-form__input::placeholder {
  color: #A18268;
}
.call-form__button {
  width: max-content;
  padding: 16px 32px;
  border: 2px solid #819B57;
  border-radius: 8px;
  background-color: #819B57;
  color: #FAF4EA;
  font-size: 18px;
  font-weight: 600;
}
.call-form__button:hover {
  background-color: #FFF;
  color: #465929;
}
.call-form__paragraph {
  text-align: center;
  font-size: 12px;
  color: #31261A;
  max-width: 240px;
  padding-bottom: 0;
}
.call-form__link {
  color: #31261A;
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 32px 6.94% 32px 6.94%;
  background-color: #31261A;
}
.footer__link {
  color: #FAF4EA;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__address {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__adress-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__networks {
  display: flex;
  gap: 22px;
}
.footer__paragraph {
  color: #A18268;
}
.footer__security-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}